main {
	padding: 5px;

	display: flex;
	justify-content: space-around;

	overflow: auto;
}

div.filter {
	border: 1px solid #AABB2F;
	background: rgba(230, 252, 63, 0.5);

	align-self: flex-start;

    text-align: center;

    min-width: 150px;
    width: 15%;
    height: auto;
}
form.filter-form {
	background: rgba(230, 252, 63, 0.5);
	border: 1px solid #AABB2F;

	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);

	padding: 0.5em;
	text-align: left;

    min-width: 125px;
    width: 85%;
    height: auto;

    margin:1% auto;
}

#author-field, #date, #hashtag-field {
	border: none;
	min-height: 15px;
	max-height: 23px;

	resize: none;

	height: 5%;

	width: 80%;
}


input[type=reset], input[type=submit] {
	background-color: rgb(73, 135, 89);
	border-style: none;

	display: inline-block;

	min-width: 40px;

	margin-left: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}
input[type=submit] {
	margin-right: 5%;
}
input[type=reset]:hover, input[type=submit]:hover {
	background-color: rgb(41, 242, 91);
	border-color: rgb(41, 242, 91);
}


div.contents {
	background-color: rgba(200, 220, 220, 0.5);
	
	padding: 1%;

	min-width: 500px;
	width: 55%;
	height: 500px;
	

	margin-left: 2%;
	margin-right: 15%;

	overflow-x: none;
	overflow-y: scroll;
}


button.add-new, button.load-more {
	width: 20%;

	margin-top: 1%;
	margin-left: 40%;
	margin-bottom: 1%;
}
